@using Camada.Web.HtmlHelpers
@model Camada.Web.Models.ProdutosViewModel


@foreach (var Produto in Model.Produtos)
{
    @Html.Partial("ProdutoDetalhes", Produto)
}

<div class="btn-group pull-right">
    @Html.Pagelinks(Model.Paginacao, x => Url.Action("ListarProdutos", new { Pagina = x, categoria = Model.CategoriaAtual }))
</div>

